h2  {
    color: red;
    text-align: center;
}

#part1 {
    size: 14;
    font-style: italic ;
    color: white;
    background-color: blue;
    margin-bottom: 0px;
}

#part2 {
    size: 14;
    font-style: italic ;
    color: yellow;
    background-color: brown;
    margin-top: 0px;
}