    h1  {
        color: red;
    }

    h2  {
        color:  blue;
    }

    h3  {
        color: green;
    }

    p  {
        font-family: 'Times New Roman';
        size: 14;
        font-weight: bold;
    }

    span  {
        font-family: 'Times New Roman';
        size: 12;
        background-color: yellow;
        font-weight: bold;
    }